<div id="<%= dom_id profile %>">
  
   <p>
    <% if profile.picture? %>
      <a href="<%= profile.picture.url %>" data-fancybox="gallery">
        <%= image_tag profile.picture.avatar.url %>
      </a>
    <% end %>
  </p>
  <p>
    <strong>Firstname:</strong>
    <%= profile.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= profile.lastname %>
  </p>

</div>
