<div id="<%= dom_id profile %>">
  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= profile.picture %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= profile.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= profile.lastname %>
  </p>

</div>
