<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to "Show this comment", comment %>
      <%if comment.user == current_user%>
        <%= button_to "Destroy this comment", post_comment_path(comment.post, comment), method: :delete%>
      <%end%>
    </p>
  <% end %>
</div>

<%= link_to "New comment", new_post_comment_path %>
