<div id="<%= dom_id post %>">
  <p>
    <strong>User:</strong>
    <%= link_to post.user.profile.firstname+' '+ post.user.profile.lastname.to_s , profile_path(post.user.profile) %>
  </p>

  <p>
  
  <% if post.picture? %>
    <a href="<%= post.picture.url %>" data-fancybox="gallery">
      <%= image_tag post.picture.thumb.url %>
    </a>
  <% end %>
</p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>
  
  

</div>
